@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Rubik&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color:rgb(235, 241, 240)
  
}


form  textarea{
  resize: none;
  padding: 10px;
}

form input{
  padding: 5px;
}
form label{
  color:white
}


